*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:#eb6f8e;
   
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/****Nav****/
nav{
    background-image: url(./Imagenes/iconos/fondo.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
}
.divCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center ;
    height: 100px;
}

.nombrePag{
    width: 200px;
}

.iconoInicio{
    width: 100px;
    margin-left: 40px;
}

.imgCarrito{
    width: 80px;
}

#barraSuperior{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

.pMenu{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight:900 ;
    color: rgb(14, 14, 59);
}

/****Header****/
header{
    display: flex;
    flex-direction: column;
    height: 220px;
}

#divInfoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f1e1e;
    padding: 30px;
}

.divHeader{
    text-align: center;
}

.barraMenu{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#equisRosa{
    width: 28px;
    position: absolute;
    right: 525px;
    margin-top: 4px;
}

input{
    height: 30px;
    width: 500px;
    font-size: 18px;
    border-radius: 10px;
    border: 3.5px solid #2366be;
    background-image: url(./Imagenes/iconos/55afc5b50590965e03ff9e389f4afd79-icono-de-trazo-de-lupa-rosa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 50px;
}

.imgheader{
    width: 50px;
    height: 45px;
}

/***Aside***/
aside{
    width: 400px;
    height:1000px ;
    background-color: #ffffff;
}

/****Main****/

main{
    padding-top: 80px;
    width:auto ;
    display: flex;
    flex-direction:row-reverse ;
    justify-content: space-evenly;
    height: 2100px;
}

#divCentrado{
    display: grid;
    grid-template-columns: repeat(3,255px);
    grid-template-rows: repeat(5,500px);
    column-gap: 50px;
}

.imgdiv{
    width: 250px;
    height: 300px;
}

.cuadroProducto{
    height: 400px;
    background-color:#ffba9a;
    align-items: center;
    justify-content: center;
    border: solid #3d3c3c 2px;
    padding: 0px;
}

.aCompra{
    background-color: #57c3e4 ;
    color: #2c2929;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.aCompra:hover{
    background-color:#857cff;
}

/****Footer****/
footer{
    height: 200px;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divFooter{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.pFooter , .pHeader{
    color: #ffffff;
    text-align: center;
}

a{
    text-decoration: none;
}