*{
    padding: 0px;
    margin: 0px;
}

.miniImgs{
    height: 100px;
    width: 100px;
}

body{
    background-color:#eb6f8e;  
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/****Nav****/
nav{
    background-image: url(./Imagenes/iconos/fondo.png);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
}
.divCarrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center ;
    height: 100px;
}

.nombrePag{
    width: 200px;
}

.iconoInicio{
    width: 100px;
    margin-left: 40px;
}

.imgCarrito{
    width: 80px;
}

#barraSuperior{
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

.pMenu{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight:900 ;
    color: rgb(14, 14, 59);
}

/****Header****/
header{
    display: flex;
    flex-direction: column;
    height: 120px;
}

#divInfoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f1e1e;
    padding: 30px;
}

.divHeader{
    text-align: center;
}

.imgheader{
    width: 50px;
    height: 45px;
}

/***Aside***/
aside{
    width: 400px;
    height: 1900px;
    background-color: #ffffff;
    border: 3px solid rgb(53, 48, 48)  ;
    border-radius: 10px;
}

h2{
    text-align: center;
}




/****Main****/
#mainIndex{
    padding-top: 80px;
    width:auto ;
    display: flex;;
    align-items: flex-start;
    height: 800px;
    background-image: url(./Imagenes/wallpaper_amarillo2_index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainIngresar{
    width:auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 15px;
}

#mainProductos{
    padding-top: 80px;
    width:auto ;
    display: flex;
    flex-direction:row-reverse ;
    justify-content: space-evenly;
    height: 2100px;
}

h3{
    color: #2c2929;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight:900 ;
}

.wallIngresar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 450px;
    background-image: url(./Imagenes/wallpaper_ingresar.png);
    background-size:contain ;
    background-repeat: no-repeat;
}

.divInput{
    display: flex;
}

.ingresarBoton{
    background-color: #7ac2d8;
}

#divPresentacion{
    margin-left: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#botonProds{
    border:2px solid #57c3e4 ;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-weight:bold ;
    font-size: 45px;
}

.pBOTON{
    color: #1f1e1e;
    background-color:#eb6f8e;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: bold;
    
}

#divCentrado{
    display: grid;
    grid-template-columns: repeat(3,255px);
    grid-template-rows: repeat(5,500px);
    column-gap: 50px;
}

.imgProducto{
    width: 250px;
    height: 300px;
}

.cuadroProducto{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color:#ffba9a;
    align-items: center;
    justify-content: center;
    border: solid #3d3c3c 2px;
    padding: 0px;
}



.aCompra{
    background-color: #57c3e4 ;
    color: #2c2929;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.aCompra:hover{
    background-color:#857cff;
}

/****Footer****/
footer{
    height: 200px;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.divFooter{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

.pFooter , .pHeader{
    color: #ffffff;
    text-align: center;
}

a{
    text-decoration: none;
}